discord:
  token: ""
  inviteLink: true
youtube:
  key: ""
websub:
  url: "http://localhost"
  host: 127.0.0.1
  port: 8080
database:
  driver: mysql
  host: 127.0.0.1
  port: 3306
  database: ''
  username: ''
  password: ''
  logging: false
  sync: true
notification:
  locale: 'en'
  timeFormat: 'llll'
  mentions: Hi ${mentions},
  video: |-
    ${mentions}
    ${channel} has published a new video.
    ${url}
  live: |-
    ${mentions}
    ${channel} has scheduled a new live-streaming at ${schedule}.
    ${url}
  reschedule: |-
    ${mentions}
    ${channel} re-scheduled a new live-streaming at ${schedule}.
    ${url}
  starting: |-
    ${mentions}
    ${channel} is gonna to start a live streaming soon.
    ${url}
